html , body{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align:left;
  text-transform: lowercase;
  font-family: Shojumaru;
  font-size: 18px;
}
.desc ::first-letter{
  font-size: 30px;
}

.amazon {
  position: absolute;
  left: 80%;
  top: 10%;
}

p {
  margin:0;
}

.title {
  padding: 10px;
  background-color: blue;
  display: flex;
  height: 100%;
  flex: 1;
}

.name {font-size: 75px;}
.title_bio {
  flex: 1;
  padding-top: 35px;
  font-size: 35px;
  text-align: right;
  /*  See citations in README for source of following 3 lines */
  background: linear-gradient(to right, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_pic {flex: 1;}
.title_pic img {
  filter: sepia(80%);
  display:block;
  max-height: 300px;
}

.desc {
  display: flex;
  flex: 3;
}

.mainbar {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding: 20px;
}

.sidebar p{margin: 20px;}
.sidebar {
  flex: 1;
  text-align: center;
  background-color: yellow;
}

.bio {
  text-align: left;
  display: flex;
  flex: 1;
}

.text {
  flex: 5;
}

img{filter: saturate(3.5);}
.pic img{
  max-width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.pic {
  margin: 0;
  padding: 0;
  flex: 1;
}

.text_column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.whoami {
  background-color: pink;
}
